@{
    bool isResults = Model != null && Model.GetType().Name == "AuthorSearchResultsViewModel";
}

<form action="/authors/search" method="get">
    <div class="d-flex flex-row">
        <input class="form-control col-8 mr-1" type="search" name="q" placeholder="Enter author name" value="@(isResults ? Model.Query : "")"/>
        <button class="btn btn-outline-primary flex-grow-1" type="submit">@(isResults ? "Search Again" : "Search Authors")</button>
    </div>
</form>